@model List<ContatoModel>

@{

    ViewData["Title"] = "Listagem de Contatos";

}

@if (TempData["Mensagemsucesso"] != null)
{

    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        @TempData["Mensagemsucesso"]
    </div>

}
@if (TempData["Mensagemerro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        @TempData["Mensagemerro"]
    </div>
}

<br>
<div class="text-center">
    <!-- Deixar tudo no centro -->

    <h1>Listagem de contatos</h1>
    <table class="table" id="table-contatos">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (ContatoModel contato in Model)
            {
                <tr>
                    <th scope="row">@contato.Id</th>
                    <td>@contato.Nome</td>
                    <td>@contato.Email</td>
                    <td>@contato.Celular</td>
                    <td>
                        <!--Aqui os botoes vao ficar lado a lado porque coloquei em grupos de botao-->
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="EditarCtt">Editar</a>
                            <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="AlertarDelete">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Colocar o botão abaixo da tabela e alinhado à direita com a classe do Bootstrap -->
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarCttView">Adicionar novo contato</a>
    </div>

</div>
            <!-- Criei uma tabela e nela tem botoes, fiz com exemplos do bootstrap

            <th scope="col">: Cabeçalho da coluna.
            <th scope="row">: Cabeçalho da linha.
            *scope serve para avisar ao browser qual é a função do cabeçalho (se é para uma linha ou coluna)*
            <tr>: Representa a linha.
            <td>: Representa os dados/registros de uma célula da tabela.


            <a role="button" class="btn btn-primary">Editar</a> botão azul com link para a tela de editar
            <a role="button" class="btn btn-danger">Apagar</a>  botão azul com link para apagar
            -->  



<!--A classe btn btn-primary do Bootstrap deixa o elemento com aparência de um botão,
o role="button" avisa ao navegador e às tecnologias assistivas que ele deve ser tratado como um botão,
não importando a tag. O atributo role serve para definir a função do elemento em termos de acessibilidade,
como link, alert, header e outros.-->
